
*.textile

multi_valued_or_dimension_format_results_20250930_063905.txt
multi_valued_or_dimension_format_results.txt
README.md
run_vtdlp-dpla-xml-export.sh
run_vtdlp-dpla-xml-export-prod.sh
run_production.sh
*.sh
squires_formats_20251001_113401.txt
squires_formats_20251001_113543.txt
squires_formats_20251001_113947.txt
squires_s3_formats_20251001_125040.txt
squires_s3_formats_20251001_130828.txt
this_is_a_string.xml
unique_collection_folders_20250930_120420.txt
unique_collection_folders_20250930_120751.txt
unique_collection_folders_20250930_121022.txt
unique_collection_folders_20250930_121207.txt
# Ignore sensitive or private folders
699/
AERST/
CBCST/
CIDA/
CIDA_*/
CVM/
CVM_*/
Ms1995-027/
Ms*/
costume-and-textile-collection/
EGG/
ITEM/
LDGST/
Ms2024-054/
testss/
XB17J67J/
podcast/
testextract/
other/
logs/
__pycache__/
# Do not ignore the following recently edited folders
!barter/
!blacksburg-high-school/
!BHSST/
!BTR/
!DH80/
!FCHS/
!P6/
!PRADER/
!REY/
!SFDST/
!SQI/
!TAU_ART/
!VA_AM
!VTCATALOG
!VTEC/
!VTGRAD/
!crewe/
!floyd-county-historic-society/
!horse-teeth-clacker/
!LD5655*/
!MTG/
!MTG_*/
!NMCST/

!montgomery/
!nmcst/
!prader-willi/
!reynolds/
!sfd/
!taubman/
!va-amcollege-catalog/
!vt-catalog/
!vtec/
!vtgrad-catalog/
!squires
*.csv

.github/*
!.github/workflows/
unique_medium_values_cleaned.txt
run_production.sh

error_log.txt
run_barter_only.sh


# Ignore analysis output files
display_date_formats_*.txt
dynamodb_*.csv
items_no_format_*.csv
*_formats_*.txt
unique_collection_folders_*.txt
error_log.txt

#Ignore analysis codes

analyze_display_date_formats.py
check_btr_identifiers.py
findIdsStartWith.py
howmany_architems_have_ispartof_prod.py
listFederatedCollections.py
list_collection_identifiers.py
unique_identifiers_in_the_invalid_uri_csv.py
extract_and_save_folder_names_from_s3.py
format_federated.py
format.py
test_single_item.py
test_xml_generation.py
test_all_special_chars.py
check_backslash_quotes.py
check_btr_backslashes.py
check_btrst_backslashes.py
check_identifier_samples.py
test_backslash_removal.py
test_xml_generation.py
test_xml_generation.py
check_s3_structure.py
list_s3_federated_identifiers.py
check_vtcatalog_s3.py
check_vtcatalog_rights.py
count_federated_items
find_page_uirs
check_isactive.py
check_rights_table.py
count_federated_items.py
RIGHTS_STATEMENT_README.md
analyze_invalid_csv.py
test_rights_integration.py
add_folder_mappings.py
find_page_uris.py
populate_rights_statements.py
*.txt

INTEGRATION_GUIDE.md
item*.xml
RIGHTS_STATEMENT_*.xml
CODE_CHANGES_SUMMARY.md
