
*.textile
extract_and_save_folder_names_from_s3.py
format_federated.py
format.py
multi_valued_or_dimension_format_results_20250930_063905.txt
multi_valued_or_dimension_format_results.txt
README.md
run_vtdlp-dpla-xml-export.sh
squires_formats_20251001_113401.txt
squires_formats_20251001_113543.txt
squires_formats_20251001_113947.txt
squires_s3_formats_20251001_125040.txt
squires_s3_formats_20251001_130828.txt
this_is_a_string.xml
unique_collection_folders_20250930_120420.txt
unique_collection_folders_20250930_120751.txt
unique_collection_folders_20250930_121022.txt
unique_collection_folders_20250930_121207.txt
# Ignore sensitive or private folders
costume-and-textile-collection/
egg/
item/
ldgst/
ms/
testss/
vtech/
vtgrad/
xb17j67j/
podcast/
testextract/
logs/
# Do not ignore the following recently edited folders
!barter/
!blacksburg-high-school/
!crewe/
!floyd-county-historic-society/
!horse-teeth-clacker/
!LD5655.A3.C3/
!montgomery/
!nmcst/
!prader-willi/
!reynolds/
!sfd/
!taubman/
!va-amcollege-catalog/
!vt-catalog/
!vtec/
!vtgrad-catalog/